<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="info.vericoin.verimobile">

    <application
        android:name="info.vericoin.verimobile.BitcoinApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light">
        <activity android:name="info.vericoin.verimobile.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="info.vericoin.verimobile.WalletHistoryActivity"
            android:label="Wallet History"/>
        <activity android:name="info.vericoin.verimobile.MainActivity"/>
        <activity android:name=".RecipientActivity"
            android:label="Choose recipient"/>
        <activity android:name=".AmountActivity"
            android:label="Send Amount"/>
        <activity android:name=".ReviewActivity"
            android:label="Review and Send"/>
        <activity android:name=".TransactionCompleteActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ReceiveActivity"
            android:label="Receive Address"/>
        <activity android:name=".TransactionDetailActivity"
            android:label="Transaction Details"/>
        <service android:name="info.vericoin.verimobile.BitcoinService"/>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"/>
</manifest>