<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="info.vericoin.verimobile">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT" /> <!--This is required to support Android API (23-27) -->
    <uses-feature android:name="android.hardware.camera"/>

    <application
        android:name="info.vericoin.verimobile.VeriMobileApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light">

        <activity android:name="info.vericoin.verimobile.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="info.vericoin.verimobile.TransactionListActivity"
            android:label="Transaction History"
            android:screenOrientation="portrait"/>

        <activity android:name="info.vericoin.verimobile.MainActivity"
                  android:screenOrientation="portrait" />

        <activity android:name=".RecipientActivity"
            android:label="Choose recipient"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".AmountActivity"
            android:label="Send Amount"
            android:screenOrientation="portrait"/>

        <activity android:name=".ReviewActivity"
            android:label="Review and Send"
            android:screenOrientation="portrait"/>

        <activity android:name=".ProcessTransactionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ReceiveActivity"
            android:label="Receive Address"
            android:screenOrientation="portrait"/>

        <activity android:name=".TransactionDetailActivity"
            android:label="Transaction Details"
            android:screenOrientation="portrait"/>

        <activity android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".VericoinGettingStartedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".VeriumGettingStartedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".BinaryChainGettingStartedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".CreateWalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".UnlockActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".DecryptWalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity android:name=".SetUpEncryptedWallet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".SetUpDecryptedWallet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ViewSeedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ImportSeedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".SetUpSeedWallet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".DeleteWalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".PeerGroupListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:label="Connected Peers"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>
</manifest>